<!DOCTYPE html>
<html><head>
<!-- THIS VERSION WORKS ON GOOGLE CHROME AND RELIES ON BLOGSBACKEND.HERKOKU.COM BACKEND -->
<title>Ryan Alexander</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="" />
<meta name="copyright" content="" />
<link rel="stylesheet" type="text/css" href="css/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />                          <!-- CUSTOM STYLES -->


</head><body>
<!-- Menu Horizontal -->
<!-- Tabs Center -->
<nav class="navbar">
	<a class="hide-phone" id="logo" href="http://www.ryan-alex.com"><i class="icon-angle-left"></i> Ryan-Alex<span>.COM</span></a>
	<ul class="tabs center nav" id="tabs">
		<li id="one" class="first tab"><a href="#home"><span>HO</span>ME</a></li>
		<li class="tab"><a href="#about"><span>Abou</span>T</a></li>
		<li class="last tab"><a href="#work">My Work</a></li>
	</ul>
</nav>

<div id="home" class="tab-content">
	<div class="grid flex">	
	<!-- ===================================== END HEADER ===================================== -->
	<div class="col_12">
	<!-- SOCIAL ICONS -->	
	<div class="col_1">
	<a href="http://github.com/mrryanalexander"><i class="icon-github-sign icon-4x"></i></a>
	<a href="http://linkedin.com/in/ryanalexanderp/"><i class="icon-linkedin-sign icon-4x"></i></a>
	<a href="http://facebook.com/mrryanprice"><i class="icon-facebook-sign icon-4x"></i></a>
	<a href="#/home"><i class="icon-rss icon-4x"></i></a>
	
	
	</div>
	<!-- INFORMATIONAL -->
	<div class="col_5">
	<p class="back">
		<img class="align-left" src="http://www.gravatar.com/avatar/414b4ab141d8794eec40641acb9b07a7.png" />
	<em><strong>Hello</strong>!</em> You can find out more about me by clicking on one of the icons to the left or above here. I got my first computer in 1993 and have had a quiet obsession ever since. I wrote my first program, <a href="/projects/rev">jQuiz</a>, in 2013. Since then I have started learning how to use Javascript to build scalable single page sites. Javascript can also be used on the server side now, thanks to Ryan Dahl and his creation, Node.js. If you like Javascript, try Node.js out. 
	<code><br>
	//Lets create a simple Node.js server
	var http = require('http');<br>
	http.createServer(function (req, res) {<br>
  	res.writeHead(200, {'Content-Type': 'text/plain'});<br>
  	res.end('Hello World\n');<br>
	}).listen(1337, '127.0.0.1');<br>
	console.log('Server running at http://127.0.0.1:1337/');<br>
	//That's it, save that as server.js and run node.server.js. </code> 
	<br>Things really can't get much easier than that. </p>

	<p> I'd like to thank the creators of Coursera, Balaji S. Srinivasan and Vijay S. Pande of Stanford University (Startup Engineering on Coursera), the creators of Codecademy and Richard, the creator of Javascriptissexy.com. <code>setInterval(function(){console.log("At :"+new Date() +" Contact Me"); },1000);</code>Thank you all for donating your time and efforts to publish content for people like me.</p>
	
	
	</div>
	<div class="col_6">
		<!-- FEATURED IDEAS/WORK/ETC-->
		<ul class="slideshow">
			<li><img src="http://img.ibtimes.com/www/data/images/full/2011/03/12/73599-people-look-at-their-phones-and-computers-as-they-wait-for-the-ipad-2-.jpg" width="550" height="350" /></li>
			<li><img src="http://www.ijreview.com/wp-content/uploads/2012/05/cell-people-on-cell-phones-teaching-zachwhalen-net.jpeg" width="550" height="350" /></li>
			<li><img src="http://smusmc.com/wp-content/uploads/2013/09/sea-of-people-with-cell-phones.jpg" width="550" height="350" /></li>
			<li><img src="http://ak1.picdn.net/shutterstock/videos/2282387/preview/stock-footage-anonymous-crowd-of-people-walking-on-the-sidewalk-of-new-york-city-pal-p.jpg" width="550" height="350" /></li>
			<li><img src="http://upload.wikimedia.org/wikipedia/commons/b/bd/Apodemus_sylvaticus_bosmuis.jpg" width="550" height="350" /></li>
			<li><img src="http://images.smh.com.au/2011/05/21/2375845/art_matrix-420x0.jpg"  width="550" height="350" /></li>
			<li><img src="http://ak0.picdn.net/shutterstock/videos/484198/preview/stock-footage-matrix-future-space.jpg" width="550" height="350" /></li>
			
		</ul>
	</div>
	</div>
	
	</div><!-- END GRID -->
</div><!-- END TAB -->

<div id="about" class="tab-content"><div class="grid flex">	
	<!-- ===================================== END HEADER ===================================== -->
	<div class="col_12">
	<!-- SOCIAL ICONS -->	
	<div class="col_1">
	<a href="http://github.com/mrryanalexander"><i class="icon-github-sign icon-4x"></i></a>
	<a href="http://linkedin.com/in/ryanalexanderp/"><i class="icon-linkedin-sign icon-4x"></i></a>
	<a href="http://facebook.com/mrryanprice"><i class="icon-facebook-sign icon-4x"></i></a>
	</div>
	<!-- INFORMATIONAL -->
	<div class="col_5">
	<p><img class="align-left" src="http://www.gravatar.com/avatar/414b4ab141d8794eec40641acb9b07a7.png" />
	<em><h5>I want to figure what stuff people want built and then work on ways to deliver solutions to those needs.</em> Creating my first startup is my main goal, but if offered the chance to be part of a team, I would love see if I would make a good fit.</h5></p>

	<blockquote class="small">
		<p>
		It's fun to come up with ideas right now seeing how people like being able to delete or have data automatically delete itself. Pictures and video are the craze these days. 
			<span>HOW COOL IS THAT!!!!</span>
		</p>
	</blockquote>

	<address style="text-align:center">
		<p> Ryan Alexander<br>
	Living in Los Angeles, Ca<br>
	Grew up in St. Louis, Mo<br>
	<email>lazyguymedia@gmail.com</email>
	<phone>(424)224-9221</phone>
	</p>
	</address>

	</div>
	<div class="col_6">
		<!-- Gallery -->
	<div class="gallery">
		<a href="images/homers.jpg" text="600x450"><img src="images/homers.jpg"text="100x100" width="200" height="200" /></a>
		<a href="images/sclass.jpg" text="600x450"><img src="images/sclass.jpg" text= "100x100" width="200" height="200" /></a>
		<a href="images/snapchat.jpg" text="600x450"><img src="images/snapchat.jpg" text="100x100" width="200" height="200" /></a>
		<a href="images/whats-next.jpg" text="600x450"><img src="images/whats-next.jpg" text="100x100" width="200" height="200" /></a>
		
	</div>
	</div>
	</div>
	
	</div><!-- END GRID -->
</div><!-- END TAB -->

<div id="work" class="tab-content"><div class="grid flex">	
	<!-- ===================================== END HEADER ===================================== -->
	<div class="col_12">
	<!-- SOCIAL ICONS -->	
	<div class="col_1">
	<a href="http://github.com/mrryanalexander"><i class="icon-github-sign icon-4x"></i></a>
	<a href="http://linkedin.com/in/ryanalexanderp/"><i class="icon-linkedin-sign icon-4x"></i></a>
	<a href="http://facebook.com/mrryanprice"><i class="icon-facebook-sign icon-4x"></i></a>
	<a href="#/test"><i class="icon-facebook-sign icon-4x"></i></a>
	</div>
	<!-- INFORMATIONAL -->
	<div class="col_5">
	<p style="text-align:center">
	<em><strong><h1>PROJECTS</h1></strong></em> <br>
	<ul style="list-style-type:none; text-decoration: none; font-size:25px;">
		<li><a href="projects/rev">Revenue Calculator</a></li>
		<li><a href="projects/edited">Custom Template</a></li>
		<li><a href="projects/quiz">jQuery Quiz</a></li>
	 	<li><a href=""></a></li>
	 	<li><a href=""></a></li>
	 	<li><a href=""></a></li>
	 </ul>
	 </p>
	
	</div>
	
	<div class="col_6">
		<div id="vido">
			<iframe width="480" height="360" src="http://www.youtube.com/embed/rtDh7FUshxo" frameborder="0" allowfullscreen></iframe>
			Thanks to <a href="https://github.com/davatron5000/FitVids.js">davatron5000</a> for making this resizable video possible. 
		</div>
	</div>
	</div><!-- END col_12 -->
	</div><!-- END GRID -->
</div><!-- END TAB -->
<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
<div id="footer">
&copy; Copyright 2013–2014 Ryan-Alex.com All Rights Reserved. This website was built using <a href="javascript:void(0)">details</a>
<div id="dialog">
  <p>This website was built using <a href="http://www.99lime.com/elements">HTML Kickstart</a>, <a href="http://jquery.com">jQuery</a> and <a href="http://backbonejs.org">Backbone</a></p>
</div>
</div>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script><script>console.log("gray_jean.png error is interesting");</script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
<script type="text/javascript" src="js/kickstart.js"></script> <!-- KICKSTART -->
<script type="text/javascript" src="js/jquery.fitvids.js"></script> 

<script type="text/javascript" id="blogs-template">
	<a href="#/new"><i class="icon-envelope icon-4x" style="font-size:30px;">Add Blog</i></a>
	<hr />
		<% _.each(blogs, function(blog) { %>
			<%= blog.get('postTitle') %><a href="#/edit/<%= blog.id %>"<i class="icon-envelope icon-4x" style="font-size:10px;">Edit Blog</i></a><br>
			<p><%= blog.get('postBody') %></p><br>
			<p>Created at: <%= blog.get('postDate') %></p>
			<hr />
		<% }); %>
</script>

<script type="text/javascript" id="edit-blog-template">
	<form class="edit-blog-form">
	<h4><%= blog ? 'Edit':'Create' %> Blog</h4>
	 	<input type="text" name="postTitle" placeholder="Title goes here..." style="width:400px" value="<%= blog ? blog.get('postTitle') : '' %>"/><br>
		<textarea type="text" name="postBody" placeholder="Type something..."  style="width:400px"><%= blog ? blog.get('postBody') : '' %></textarea><br>
		<button type="submit" class="medium green"><i class="icon-ok"></i><%= blog ? 'Save':'Post' %></button>
		<% if(blog) { %>
			<input type="hidden" name="id" value="<%= blog.id %>" />
			<button type="button" class="medium red" id="delete"><i class="icon-remove-circle"></i>Delete</button>	 
		<% }; %>
		
	</form>
</script>

<script type="text/javascript">

	$.fn.serializeObject = function() {
  		var o = {};
  		var a = this.serializeArray();
  		$.each(a, function() {
      		if (o[this.name] !== undefined) {
          		if (!o[this.name].push) {
              		o[this.name] = [o[this.name]];
          		}
          		o[this.name].push(this.value || '');
      		} else {
          		o[this.name] = this.value || '';
      		}
  		});
  		return o;
	};

	$.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
  		options.url = 'http://blogsbackend.herokuapp.com' + options.url;
	});

	var Blogs = Backbone.Collection.extend({
		url: '/blogs'
	});

	var BlogModel= Backbone.Model.extend({
		urlRoot: '/blogs'
	});
	
	var BlogView = Backbone.View.extend({
		el: '.back',
		render: function () {
			var that = this;
			var blogs = new Blogs();
			blogs.fetch({
				success: function(blogs) {
					var template = _.template($('#blogs-template').html(), {blogs: blogs.models});
					that.$el.html(template);
				}
			})
		}
	});

	var EditBlog = Backbone.View.extend({
		el: '.back',
		
		events: {
			'submit .edit-blog-form': 'saveBlog',
			'click #delete' : 'deleteBlog'
		},

		saveBlog: function(ev) {
			var blogDetails = $(ev.currentTarget).serializeObject();
			var blog = new BlogModel();
			console.log(blogDetails);
			blog.save(blogDetails, {
				success: function(blog) {
					router.navigate('', {trigger:true});
				}
			});
			return false;
		},

		deleteBlog: function(ev) {
			this.blog.destroy({
				success: function () {
					router.navigate('', {trigger:true});
				}
			})
			return false;
		},

		render:function(options) {
			var that = this;
			if(options.id){
				//GET DETAILS
				that.blog = new BlogModel({id: options.id});
				that.blog.fetch({
					success: function (blog) {
						console.log(blog);
						var template = _.template($('#edit-blog-template').html(), {blog: blog});
			that.$el.html(template);
					}
				})
			}else{
				var template = _.template($('#edit-blog-template').html(), {blog : null});
			that.$el.html(template);
			}
		}
	});

	var Router = Backbone.Router.extend({
        routes: {
          "": "home", 
          "new": "edit",
          "edit/:id": "edit"
        }
    });

    var blogView = new BlogView();
    var editBlog = new EditBlog();

	var router = new Router();

	router.on('route:home', function() {
		blogView.render();
	});

	router.on('route:edit', function(id) {
		editBlog.render({id: id});
	});
	Backbone.history.start();
</script>


<script>
  $(document).ready(function() {
    $("#dialog").dialog({
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
      }
    });
 
    $("#footer a").click(function() {
      $("#dialog").dialog("open");
    });
    $("#vido").fitVids();
  });
  </script>  
</body></html>